@use "variables";

/* Footer */
.navbar {
  margin-top: 10%;
  overflow: hidden;
  bottom: 0;
  width: 100%;  
  
  & a {
    float: left;
    display: block;
    color: $text-color;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    font-size: 1rem; 
    
    &:hover {
      color: $links-color;
      font-weight: 600;
    }  
  } 
}

  i {
    color: $text-color;
    &:hover {
      color: $links-color;
    }
  }