/* CSS Reset */
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
  


html {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

 
::placeholder {
  font-size: 16px;
  line-height: 28px;
}

.float-right {
  float: right;
}

img {
  max-width: 1110px;
  width: 100%;
  height: auto;
  vertical-align: middle; 
  background-repeat: no-repeat;
  background-size: cover; 
}  

picture,
svg,
video {
  display: block;
  max-width: 100%;
} 

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  display: block; 
  width: 400px;
}

section {
  max-width: 1536px;
  margin: 0 auto;
  margin: 125px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  color: $text-color;
  
}